<style>
#top-footer h3,#top-footer h4,.tool_dataprivacy a {
    color: #ffffff!important;
}
#top-footer h4{
  font-size:16px !important;
}
.gecko #top-footer, .gecko #page-footer {
	display: block !important;
}
#top-footer {
    background-size: cover!important;
}
#top-footer .contact ul li a, #top-footer .contact ul li i {
    color: white!important;
        font-size: 14px!important;
            margin-right: 20px; 
}
#top-footer .contact ul {
    list-style: none;
    margin-top: 30px!important;
    padding-left: 0!important;
}
.b-line {
    border-bottom: 3px solid #008ec2;
    width: 80px;
    margin-bottom: 20px;
}
.subscribe-b input {
    border: 0;
    border-radius: 3px 0 0 3px;
}
.subscribe-b .btn-success {
    color: #fff;
    background-color: #008ec2;
    border-color: #008ec2;
}
.subscribe-b .btn-success:hover {
    color: #fff;
    background-color: #008ec2;
    border-color: #008ec2;
    opacity:0.8;
}
#page-footer {
    background-color: #000!important;
}
p.D-D-l {
    font-size: 12px;
}
#top-footer .social {
    text-align: left!important;
}
#top-footer .social p{
    color: #e9e9e9;
    font-size: 14px!important;
}
.tool_dataprivacy,#theme_switch_link {
    display: none;
}
p.D-D-l.mb-0 a {
    text-decoration: none !important;
}
</style>
{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/footer

    Footer template

    Example context (json): {}
}}
<div id="top-footer">
  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 contact">
            <h3>{{#str}}stayintouch, theme_moove{{/str}}</h3>
            <div class="b-line"></div>
            <h4>Conecti.me</h4>
            <ul>
                
                    <li>
                        <i class="slicon-globe"></i>
                        <a href="http://conecti.me" target="_blank">http://conecti.me</a>
                    </li>
                    <li>
                        <i class="slicon-phone"></i>
                        <a href="tel:+55 (98) 00123-45678" target="_blank">Mobile : +55 (98) 00123-45678</a>
                    </li>
                    <li>
                        <i class="slicon-envelope"></i>
                        <a href="mailto:willianmano@conecti.me" target="_blank">willianmano@conecti.me</a>
                    </li>
                
            </ul>
        </div>
        <div class="col-lg-4 col-md-6 contact">
        <h3>Useful Links</h3>
        <div class="b-line"></div>
        <ul class="use-links">
          <li><a href="{{{ config.wwwroot }}}">Home</a></li>
          <li><a href="{{{ config.wwwroot }}}/local/pages/?id=1">About</a></li>
          <li><a href="{{{ config.wwwroot }}}/local/pages/?id=2">Contact</a></li>
          <li><a href="{{{ config.wwwroot }}}/login/index.php">Login</a></li>
        </ul>
        </div>
        <div class="col-lg-4 col-md-6 social">
 <h3 class="text-left">Connect With Us</h3>
 <div class="b-line"></div>
 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="input-group mb-3 subscribe-b">
  <input type="email" class="form-control" placeholder="Email Address">
  <div class="input-group-append">
    <button class="btn btn-success" type="submit">Go</button>
  </div>
</div>
          <ul class="pl-0">
             
                <li>
                  <a href="{{{facebook}}}" target="_blank" class="facebook btn">
                    <i class="slicon-social-facebook"></i>
                  </a>
                </li>
              

             
                <li>
                  <a href="{{{twitter}}}" target="_blank" class="twitter btn">
                    <i class="slicon-social-twitter"></i>
                  </a>
                </li>
             

                <li>
                  <a href="{{{googleplus}}}" target="_blank" class="googleplus btn">
                    <i class="slicon-social-google"></i>
                  </a>
                </li>

                <li>
                  <a href="{{{linkedin}}}" target="_blank" class="linkedin btn">
                    <i class="slicon-social-linkedin"></i>
                  </a>
                </li>

                <li>
                  <a href="{{{youtube}}}" target="_blank" class="youtube btn">
                    <i class="slicon-social-youtube"></i>
                  </a>
                </li>

                <li>
                  <a href="{{{instagram}}}" target="_blank" class="instagram btn">
                    <i class="slicon-social-instagram"></i>
                  </a>
                </li>
          </ul>

          {{{ output.standard_footer_html }}}
        </div>
    </div>
  </div>
</div>

{{^disablebottomfooter}}
  <footer id="page-footer" class="p-y-1">
      <div class="container">
         <div class="row">
            <div class="col-sm-6 col-12 text-white text-sm-left">
            <p class="R-R mb-0"> 2020 Spring. All Rights Reserved.</p>
            </div>
            <div class="col-sm-6 col-12 text-sm-right text-center text-white">
                <p class="D-D-l mb-0">Designed & Developed by <a href="https://leadconcept.com/" target="_blank">LEADconcept</a></p>
            </div>
         </div>
      </div>
  </footer>
{{/disablebottomfooter}}

{{{ output.standard_end_of_body_html }}}
<!-- Button trigger modal -->


<script>
require(['jquery'], function($) {  
    $('#admin-menu-toggle').click(function(){
        if($('#nav-drawer').css('display') == 'none'){
            $('#nav-drawer').removeClass('closed');
            $('#nav-drawer').removeClass('open');
            $('#nav-drawer').slideDown();
        }else{
            $('#nav-drawer').removeClass('closed');
            $('#nav-drawer').removeClass('open');
            $('#nav-drawer').slideUp();
        }
    });
    $('#cc_payment_btn').click(function(){
        $('#page-login-signup .mform').submit();
    });
});
</script>