<style>
#top-footer h3,#top-footer h4,.tool_dataprivacy a {
    color: #ffffff!important;
}
#top-footer h4{
  font-size:16px !important;
}
.gecko #top-footer, .gecko #page-footer {
	display: block !important;
}
#top-footer {
    background-size: cover!important;
}
#top-footer .contact ul li a, #top-footer .contact ul li i {
    color: white!important;
        font-size: 14px!important;
            margin-right: 20px; 
}
#top-footer .contact ul {
    list-style: none;
    margin-top: 30px!important;
    padding-left: 0!important;
}
.b-line {
    border-bottom: 3px solid #008ec2;
    width: 80px;
    margin-bottom: 20px;
}
.subscribe-b input {
    border: 0;
    border-radius: 3px 0 0 3px;
}
.subscribe-b .btn-success {
    color: #fff;
    background-color: #008ec2;
    border-color: #008ec2;
}
.subscribe-b .btn-success:hover {
    color: #fff;
    background-color: #008ec2;
    border-color: #008ec2;
    opacity:0.8;
}
#page-footer {
    background-color: #000!important;
}
p.D-D-l {
    font-size: 12px;
}
#top-footer .social {
    text-align: left!important;
}
#top-footer .social p{
    color: #e9e9e9;
    font-size: 14px!important;
}
.tool_dataprivacy,#theme_switch_link {
    display: none;
}
p.D-D-l.mb-0 a {
    text-decoration: none !important;
}
</style>
{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/footer

    Footer template

    Example context (json): {}
}}
<div id="top-footer">
  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 contact">
            <h3>{{#str}}stayintouch, theme_moove{{/str}}</h3>
            <div class="b-line"></div>
            <h4>Conecti.me</h4>
            <ul>
                
                    <li>
                        <i class="slicon-globe"></i>
                        <a href="http://conecti.me" target="_blank">http://conecti.me</a>
                    </li>
                    <li>
                        <i class="slicon-phone"></i>
                        <a href="tel:+55 (98) 00123-45678" target="_blank">Mobile : +55 (98) 00123-45678</a>
                    </li>
                    <li>
                        <i class="slicon-envelope"></i>
                        <a href="mailto:willianmano@conecti.me" target="_blank">willianmano@conecti.me</a>
                    </li>
                
            </ul>
        </div>
        <div class="col-lg-4 col-md-6 contact">
        <h3>Useful Links</h3>
        <div class="b-line"></div>
        <ul class="use-links">
          <li><a href="{{{ config.wwwroot }}}">Home</a></li>
          <li><a href="{{{ config.wwwroot }}}/local/pages/?id=1">About</a></li>
          <li><a href="{{{ config.wwwroot }}}/local/pages/?id=2">Contact</a></li>
          <li><a href="{{{ config.wwwroot }}}/login/index.php">Login</a></li>
        </ul>
        </div>
        <div class="col-lg-4 col-md-6 social">
 <h3 class="text-left">Connect With Us</h3>
 <div class="b-line"></div>
 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="input-group mb-3 subscribe-b">
  <input type="email" class="form-control" placeholder="Email Address">
  <div class="input-group-append">
    <button class="btn btn-success" type="submit">Go</button>
  </div>
</div>
          <ul class="pl-0">
             
                <li>
                  <a href="{{{facebook}}}" target="_blank" class="facebook btn">
                    <i class="slicon-social-facebook"></i>
                  </a>
                </li>
              

             
                <li>
                  <a href="{{{twitter}}}" target="_blank" class="twitter btn">
                    <i class="slicon-social-twitter"></i>
                  </a>
                </li>
             

                <li>
                  <a href="{{{googleplus}}}" target="_blank" class="googleplus btn">
                    <i class="slicon-social-google"></i>
                  </a>
                </li>

                <li>
                  <a href="{{{linkedin}}}" target="_blank" class="linkedin btn">
                    <i class="slicon-social-linkedin"></i>
                  </a>
                </li>

                <li>
                  <a href="{{{youtube}}}" target="_blank" class="youtube btn">
                    <i class="slicon-social-youtube"></i>
                  </a>
                </li>

                <li>
                  <a href="{{{instagram}}}" target="_blank" class="instagram btn">
                    <i class="slicon-social-instagram"></i>
                  </a>
                </li>
          </ul>

          {{{ output.standard_footer_html }}}
        </div>
    </div>
  </div>
</div>

{{^disablebottomfooter}}
  <footer id="page-footer" class="p-y-1">
      <div class="container">
         <div class="row">
            <div class="col-sm-6 col-12 text-white text-sm-left">
            <p class="R-R mb-0"> 2020 Spring. All Rights Reserved.</p>
            </div>
            <div class="col-sm-6 col-12 text-sm-right text-center text-white">
                <p class="D-D-l mb-0">Designed & Developed by <a href="https://leadconcept.com/" target="_blank">LEADconcept</a></p>
            </div>
         </div>
      </div>
  </footer>
{{/disablebottomfooter}}

{{{ output.standard_end_of_body_html }}}
<!-- Button trigger modal -->


<script>
require(['jquery'], function($) {  
    $(document).ready(function() {
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if ($(event.target).attr('class') == 'modalEnrol') {
            $('.modalEnrol').hide();
          }
          if ($(event.target).attr('class') == 'cloaseModal') {
            $('.modalEnrol').hide();
          }
        }
        var cat_id = $(".singlecourse").data("categoryid");
        var data = 'categoryid='+cat_id+'&depth=1&showcourses=10&type=0';
        $.post( "{{{ config.wwwroot }}}/course/category.ajax.php",data, function( data ) {
              $( ".singlecourse .content" ).html( data ).show();
        });
    });
    $("#page-login-signup [placeholder]").each(function() {
        var ph = this.placeholder;
        
        if(ph == '•••• •••• •••• ••••'){
            ph = $(this).attr('title')+'<small class="text-muted">[<span class="cc-brand"></span>]</small>';
            $(this).before("<label class='card-label'>" + ph + "</label>");
        }else if(ph == '•• / ••'){
            ph = $(this).attr('title');
            $(this).before("<label class='card-expiry-label'>" + ph + "</label>");
        }else if(ph == '•••'){
            ph = $(this).attr('title');
            $(this).before("<label class='cvc-label'>" + ph + "</label>");
        }else{
            $(this).before("<label class=" + ph + "-label>" + ph + "</label>");
        }
    });
    $('#eodo-signup #id_username').focusout(function(){
        var username = $(this).val()
        if(!checkUsername(username)){
            $(this).addClass('is-invalid');
            $(this).removeClass('is-valid');
        }else{
            $(this).removeClass('is-invalid');
            $(this).addClass('is-valid');
            $("#id_error").html("");
        }
    });

    
    $('#eodo-signup #id_password').focusout(function(){
        checkPassword($(this));
    });
    
    $('#eodo-signup #id_email').focusout(function(){
        var valid  = validateEmail($(this))
        if(!valid){
            return valid;
        }
    });

    $('#eodo-signup #id_email2').focusout(function(){
        emailCompare($(this));
    });

    $('#eodo-signup #id_firstname').focusout(function(){
        var first_name = $(this).val();
        if (first_name.trim() == "") {
            $("#id_error").html("Missing Name");
            $('#id_firstname').addClass('is-invalid');
            $('#id_firstname').removeClass('is-valid');
            valid = false;
            return valid;
        }else{
            $("#id_error").html("").show();
            $('#id_firstname').addClass('is-valid');
            $('#id_firstname').removeClass('is-invalid');
            valid = true;
        }
    });

    $('#eodo-signup #id_lastname').focusout(function(){
        var valid = true;
        var last_name = $(this).val();
        if (last_name.trim() == "") {
            $("#id_error").html("Missing Surname");
            $('#id_lastname').addClass('is-invalid');
            $('#id_lastname').removeClass('is-valid');
            valid = false;
            return valid;
        }else{
            $("#id_error").html("").show();
            $('#id_lastname').addClass('is-valid');
            $('#id_lastname').removeClass('is-invalid');
            valid = true;
        }
    });

    $('#eodo-signup #id_cc_payment').focusout(function(){
        var valid = true;
        var cardType = $(this).val();
        if (cardType.trim() == "") {
           $("#id_error").html("Missing Card Number");
           $('#id_cc_payment').addClass('is-invalid');
           $('#id_cc_payment').removeClass('is-valid');
           valid = false;
           return valid;
        }else{
           $("#id_error").html("");
           $('#id_cc_payment').removeClass('is-invalid');
           $('#id_cc_payment').addClass('is-valid');
           valid = true;
        }
    });

    

    $('#eodo-signup #id_cc_exp_date').focusout(function(){
        var valid = true;
        var cardMonth = $(this).val();
        if (cardMonth.trim() == "") {
           $("#id_error").html("Missing Expiry Date");
           $('#id_cc_exp_date').addClass('is-invalid');
           $('#id_cc_exp_date').removeClass('is-valid');
           valid = false;
           return valid;
        }else{
           cardDate = cardMonth.split("/");
           if(cardDate[0] > 12){
                $("#id_error").html("Month Should be less then 12");
                $('#id_cc_exp_date').addClass('is-invalid');
                $('#id_cc_exp_date').removeClass('is-valid');
                valid = false;
           }
           
           var year = new Date().getFullYear();
            var year_added = year+12;
            if(cardDate[1] < year || cardDate[1] >= year_added){
                $("#id_error").html("Year Should be greater than  "+year+" and less than "+year_added);
                $('#id_cc_exp_date').addClass('is-invalid');
                $('#id_cc_exp_date').removeClass('is-valid');
                valid = false;
           }
           if(valid){
                $("#id_error").html("");
                $('#id_cc_exp_date').removeClass('is-invalid');
                $('#id_cc_exp_date').addClass('is-valid');
                valid = true;
           }
        }
    });

    $('#eodo-signup #id_cc_cvv').focusout(function(){
        var cvv = $('#id_cc_cvv').val();
        if (cvv.trim() == "") {
           $("#id_error").html("Missing CVV");
           $('#id_cc_cvv').removeClass('is-valid');
           $('#id_cc_cvv').addClass('is-invalid');
           valid = false;
           return valid;
        }else{
            if(cvv.length > 3){
                $("#id_error").html("Invalid CVV").show();
                $('#id_cc_cvv').removeClass('is-valid');
                $('#id_cc_cvv').addClass('is-invalid');
                valid = false;
                return valid;
            }else{
                $("#id_error").html("").show();
                $('#id_cc_cvv').removeClass('is-invalid');
                $('#id_cc_cvv').addClass('is-valid');
                valid = true;
            }
        }
    });
    $('#eodo-signup #id_cc_discount_code').focusout(function(){
        checkDiscountCode();
    });

    function checkDiscountCode(){
       var discount_code = $('#id_cc_discount_code').val();
       var email = $('#id_email').val();
        if (discount_code.trim() != "") {
            $.ajax({url: "{{{ config.wwwroot }}}/local/stripsignup/validation.php?func=chkDiscount&email="+email+"&discount_code="+discount_code, success: function(result){
                if(result == 'notfound'){
                    $("#id_error").html("Discount Coud not correct");
                    $('#id_cc_discount_code').val('');
                    return false;
                }else if(result == 'notfound'){
                    $("#id_error").html("Discount Coud expired");
                    $('#id_cc_discount_code').val('');
                    return false;
                }else{
                    if(result == 'notok'){
                        $("#id_error").html("Discount Coud expired");
                        $('#id_cc_discount_code').val('');
                        return false;
                    }else{
                        $('.subscription_amount').html(result);
                        console.log(result);
                    }
                }
            }});
        }
    }
    function checkUsername(username){
        if (username.trim() == "") {
            $("#id_error").html("Missing Username");
            $('#eodo-signup #id_username').addClass('is-invalid');
            $('#eodo-signup #id_username').removeClass('is-valid');
            return false;
        }
        if (username == username.toUpperCase()) {
            $("#id_error").html("Only lowercase letters allowed");
            $('#eodo-signup #id_username').addClass('is-invalid');
            $('#eodo-signup #id_username').removeClass('is-valid');
            return false;
        }
        $.ajax({url: "{{{ config.wwwroot }}}/local/stripsignup/validation.php?func=chkUName&uname="+username, success: function(result){
            if(result == 'ok'){
                $('#eodo-signup #id_username').addClass('is-valid');
                $('#eodo-signup #id_username').removeClass('is-invalid');
                return true;
            }else{
                $("#id_error").html("Username already taken");
                $('#eodo-signup #id_username').addClass('is-invalid');
                $('#eodo-signup #id_username').removeClass('is-valid');
                return false;
            }
        }});
        return true;
    }

    
    function emailCompare(email){
        
        if($('#id_email').val() != email.val()){
            $("#id_error").html("Please match email address");
            email.addClass('is-invalid');
            email.removeClass('is-valid');
            valid = false;
            return valid;
        }else{
            $("#id_error").html("");
            email.addClass('is-valid');
            email.removeClass('is-invalid');
            return true;
        }
    }

    function checkPassword(password){
        passwordVal = password.val();
        if (passwordVal.match(/[a-z]/g) && passwordVal.match( 
                    /[A-Z]/g) && passwordVal.match( 
                    /[0-9]/g) && passwordVal.match( 
                    /[^a-zA-Z\d]/g) && passwordVal.length >= 8) {
               password.removeClass('is-invalid');
               password.addClass('is-valid');
               $("#id_error").html("").hide();
               return true;     
        }else{
            $("#id_error").html("Passwords must be at least 8 characters long.").show();
            password.addClass('is-invalid');
            password.removeClass('is-valid');
            return false;
        }
    }
    $('#admin-menu-toggle').click(function(){
        if($('#nav-drawer').css('display') == 'none'){
            $('#nav-drawer').removeClass('closed');
            $('#nav-drawer').removeClass('open');
            $('#nav-drawer').slideDown();
        }else{
            $('#nav-drawer').removeClass('closed');
            $('#nav-drawer').removeClass('open');
            $('#nav-drawer').slideUp();
        }
    });
    $('#cc_payment_btn').click(function(){
        var valid = cardValidation();
        if(valid){
            var cardMonth = $('#id_cc_exp_date').val();
            var cardDate = cardMonth.split("/");
            Stripe.createToken({
                number: $('#id_cc_payment').val(),
                cvc: $('#id_cc_cvv').val(),
                exp_month: parseInt(cardDate[0]),
                exp_year: parseInt(cardDate[1])
            }, stripeResponseHandler);
        }
    });
    function cardValidation() {
        var valid = true;
        var first_name = $('#id_firstname').val();
        var last_name = $('#id_lastname').val();
        var username = $('#id_username').val();
        var password = $('#id_password').val();
        var email = $('#id_email').val();
        var email2 = $('#id_email2').val();

        var name = $('#id_firstname').val() + " " + $('#id_lastname').val();
        
        var cardNumber = $('#id_cc_payment').val();
        var type = $('#id_cc_type').val();


        if(!checkUsername(username)){
            $('#id_username').addClass('is-invalid');
            $('#id_username').removeClass('is-valid');
            valid = false;
            $('#id_username').focus();
            return valid;
        }else{
            $('#id_username').removeClass('is-invalid');
            $('#id_username').addClass('is-valid');
            $("#id_error").html("").hide();
            valid = true;
        }
        valid = checkPassword($('#id_password'));
        if(!valid){
            $('#id_password').focus();
            return valid;
        }
        valid  = validateEmail($('#id_email'))
        if(!valid){
            $('#id_email').focus();
            return valid;
        }
        
        valid = emailCompare($('#id_email2'));
        if(!valid){
            $('#id_email2').focus();
            return valid;
        }
        
        if (first_name.trim() == "") {
            $("#id_error").html("Missing Name");
            $('#id_firstname').addClass('is-invalid');
            $('#id_firstname').removeClass('is-valid');
            $('#id_firstname').focus();
            valid = false;
            return valid;
        }else{
            $("#id_error").html("").show();
            $('#id_firstname').addClass('is-valid');
            $('#id_firstname').removeClass('is-invalid');
            valid = true;
        }
        
        if (last_name.trim() == "") {
            $("#id_error").html("Missing Surname");
            $('#id_lastname').addClass('is-invalid');
            $('#id_lastname').removeClass('is-valid');
            valid = false;
            return valid;
        }else{
            $("#id_error").html("").show();
            $('#id_lastname').removeClass('is-invalid');
            $('#id_lastname').addClass('is-valid');
            valid = true;
        }
        
        var cardType = $('#id_cc_payment').val();
        if (cardType.trim() == "") {
           $("#id_error").html("Missing Card Number");
           $('#id_cc_payment').addClass('is-invalid');
           $('#id_cc_payment').removeClass('is-valid');
           valid = false;
           return valid;
        }else{
           $("#id_error").html("");
           $('#id_cc_payment').removeClass('is-invalid');
           $('#id_cc_payment').addClass('is-valid');
           valid = true;
        }
        
        var cardMonth = $('#id_cc_exp_date').val();
        if (cardMonth.trim() == "") {
           $("#id_error").html("Missing Expiry Date");
           $('#id_cc_exp_date').addClass('is-invalid');
           $('#id_cc_exp_date').removeClass('is-valid');
           valid = false;
           return valid;
        }else{
            cardDate = cardMonth.split("/");
            if(cardDate[0] > 12){
                 $("#id_error").html("Month Should be less then 12");
                 $('#id_cc_exp_date').addClass('is-invalid');
                 $('#id_cc_exp_date').removeClass('is-valid');
                 valid = false;
                 return valid;
            }
            var year = new Date().getFullYear();
            var year_added = year+10;
            if(cardDate[1] < year || cardDate[1] > year_added){
                 $("#id_error").html("Year Should be greater than  "+year+" and less than "+year_added);
                 $('#id_cc_exp_date').addClass('is-invalid');
                 $('#id_cc_exp_date').removeClass('is-valid');
                 valid = false;
                 return valid;
            }
            if(valid){
                 $("#id_error").html("");
                 $('#id_cc_exp_date').removeClass('is-invalid');
                 $('#id_cc_exp_date').addClass('is-valid');
                 valid = true;
            }
        }
        
        var cvv = $('#id_cc_cvv').val();
        if (cvv.trim() == "") {
           $("#id_error").html("Missing CVV");
           $('#id_cc_cvv').removeClass('is-valid');
           $('#id_cc_cvv').addClass('is-invalid');
           valid = false;
           return valid;
        }else{
            if(cvv.length > 3){
                $("#id_error").html("Invalid CVV").show();
                $('#id_cc_cvv').removeClass('is-valid');
                $('#id_cc_cvv').addClass('is-invalid');
                valid = false;
                return valid;
            }else{
                $("#id_error").html("").show();
                $('#id_cc_cvv').removeClass('is-invalid');
                $('#id_cc_cvv').addClass('is-valid');
                valid = true;
            }
        }
        checkDiscountCode();
        
        if (valid == false) {
            $("#id_error").html("All Fields are required").show();
        }
        if(valid == true){
            var discount = $('#id_cc_discount_code').val();
            var el = '<input type="hidden" id="token" name="token" value=""></input>';
            el += '<input type="hidden" id="cc_discount_code" name="cc_discount_code" value="'+discount+'"></input>';
            $('#page-login-signup .mform').append(el);
        }
        return valid;
    }

    //callback to handle the response from stripe
    function stripeResponseHandler(status, response) {
        if (response.error) {
            //enable the submit button
            $("#submit-btn").show();
            //display the errors on the form
            $("#error-message").html(response.error.message).show();
        } else {
            //get token id
            var token = response['id'];
            //insert the token into the form
            $('#page-login-signup .mform #token').val(token);

            $('#page-login-signup .mform').submit();
            return false;
        }
    }

    function validateEmail(email) {
        emailVal = email.val();
        if (emailVal.trim() == "") {
            $("#id_error").html("Missing email address");
            email.addClass('is-invalid');
            email.removeClass('is-valid');
            return false;
        }else{
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if(!re.test(String(emailVal).toLowerCase())){
                $("#id_error").html("Invalid email address");
                $(this).addClass('is-invalid');
                $(this).removeClass('is-valid');
                return false;
            }else{
                $.ajax({url: "{{{ config.wwwroot }}}/local/stripsignup/validation.php?func=chkEmail&email="+emailVal, success: function(result){
                    if(result == 'ok'){
                        $("#id_error").html("");
                        email.removeClass('is-invalid');
                        email.addClass('is-valid');
                        return true;
                    }else{
                        $("#id_error").html("Email already taken");
                        email.addClass('is-invalid');
                        email.removeClass('is-valid');
                        return false;
                    }
                }});
            }
        }
        return true;
    }

    


});
function open_enrollment_form(course_id){
    var modal = document.getElementById("enrollment-modal-"+course_id);
    var span = document.getElementsByClassName("close")[0];
    modal.style.display = "block";
}
</script>