{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/columns2

    Admin time setting template.

    Moove 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
    {{>theme_moove/inc_start}}

    <div id="page" class="container">
    <div class="bg-blue-brud">
        <div class="row m-0">
          <div class="col text-dash">Dashboard
          <br>
          <span class="dasH_name">Welcome {{{ firstname }}}</span>
            {{#is_siteadmin}}
               {{{ output.mydashboard_admin_header }}}
            {{/is_siteadmin}}
          </div>
          <div class="col text-right">
            <div class="brud_s">
                <a href="{{{ config.wwwroot }}}/?redirect=0">Home</a> / Dashboard
            </div>
          </div>
        </div>
        </div>

        {{#is_siteadmin}}
            {{>theme_moove/mydashboard_admin}}
        {{/is_siteadmin}}
        {{^is_siteadmin}}
            {{{ output.full_header }}}
        {{/is_siteadmin}}

        {{#is_siteadmin}}
        
        <section id="region-main" class="cust-box-tab-admin" style="overflow-x: hidden;">    
            <div class="row">
                <div class="col-md-12 px-5">
                    <ul class="row nav nav-tabs {{#is_siteadmin}}remove_border{{/is_siteadmin}}" id="myTab" role="tablist">
                               
                        <li class="nav-item col-md-2 p-0 mr-0">
                            <a class="nav-item nav-link py-2 active" id="nav-overviews-tab" data-toggle="tab" href="#nav-overviews" role="tab" aria-controls="nav-overviews" aria-selected="true">Overview</a>
                        </li>
                               
                       <li class="nav-item col-md-2 p-0 mr-0">
                            <a class="nav-item nav-link py-2" id="nav-downloads-tab" data-toggle="tab" href="#nav-downloads" role="tab" aria-controls="nav-downloads" aria-selected="false">Downloads</a>
                        </li>

                        <li class="nav-item col-md-2 p-0 mr-0">
                            <a class="nav-item nav-link py-2" id="nav-uploads-tab" data-toggle="tab" href="#nav-uploads" role="tab" aria-controls="nav-uploads" aria-selected="false">Uploads</a>
                        </li>

                        <li class="nav-item col-md-2 p-0 mr-0">
                            <a class="nav-item nav-link py-2" id="nav-accounts-tab" data-toggle="tab" href="#nav-accounts" role="tab" aria-controls="nav-accounts" aria-selected="false">Accounts</a>
                        </li>

                        <li class="nav-item col-md-2 p-0 mr-0">
                            <a class="nav-item nav-link py-2" id="nav-codes-tab" data-toggle="tab" href="#nav-codes" role="tab" aria-controls="nav-codes" aria-selected="false">Codes</a>
                        </li>

                        <li class="nav-item col-md-2 p-0 mr-0">
                            <a class="nav-item nav-link py-2" id="nav-invoices-tab" data-toggle="tab" href="#nav-invoices" role="tab" aria-controls="nav-invoices" aria-selected="false">Invoices</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        {{/is_siteadmin}}


        <div id="page-content" class="row dasH_row_mar">
            <div id="region-main-box" class="col-xs-12 student_dash">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="hidden-print">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                {{#is_siteadmin}}
                <section id="region-main" class="cust-box-tab" style="overflow-x: hidden;">
                    <div class="card mymaincontent">
                        <div class="row">
                            <div class="col-md-12" style="overflow:hidden;">
                                <div class="card-body cust-tabs-s">
                                    <div class="tab-content" id="mypublic-tab">

                                            <div class="tab-pane fade show active" id="nav-overviews" role="tabpanel" aria-labelledby="courses-tab">
                                                <h1 class="text-left m-0 mb-3 px-md-3">Overview</h1>
                                            </div>
                                            
                                            <div class="tab-pane fade" id="nav-downloads" role="tabpanel" aria-labelledby="nav-downloads-tab">
                                                <h1 class="text-left m-0 mb-3 px-md-3">Downloads</h1>
                                            </div>

                                            <div class="tab-pane fade" id="nav-uploads" role="tabpanel" aria-labelledby="nav-uploads-tab">
                                                <h1 class="text-left m-0 mb-3 px-md-3">Uploads</h1>
                                            </div>

                                            <div class="tab-pane fade" id="nav-accounts" role="tabpanel" aria-labelledby="nav-accounts-tab">
                                                <h1 class="text-left m-0 mb-3 px-md-3">Accounts</h1>
                                            </div>

                                            <div class="tab-pane fade" id="nav-codes" role="tabpanel" aria-labelledby="nav-codes-tab">
                                                <h1 class="text-left m-0 mb-3 px-md-3">Codes</h1>
                                            </div>

                                            <div class="tab-pane fade" id="nav-invoices" role="tabpanel" aria-labelledby="nav-invoices-tab">
                                                <h1 class="text-left m-0 mb-3 px-md-3">Invoices</h1>
                                            </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </section>
                {{/is_siteadmin}}    
                <section id="region-main" class="cust-box-tab" style="overflow-x: hidden;">    
                    <div class="card mymaincontent">
                    <div class="row">
                    <div class="col-md-12 px-5">
                          <ul class="row nav nav-tabs {{#is_siteadmin}}remove_border{{/is_siteadmin}}" id="myTab" role="tablist">
                                            {{# hascourses }}
                                                <li class="nav-item col-md-3 p-0">
                                                    <a class="nav-item nav-link py-2 active" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">{{{ overview }}}</a>
                                                </li>
                                            {{/ hascourses }}

                                            {{# courses_examorganizer }}
                                           <li class="nav-item col-md-3 p-0">
                                                <a class="nav-item nav-link py-2" id="nav-examorganizer-tab" data-toggle="tab" href="#nav-examorganizer" role="tab" aria-controls="nav-examorganizer" aria-selected="false">{{{ examorganizer }}}</a>
                                            </li>
                                            {{/ courses_examorganizer }}
                                            
                                            {{# hascourses }}
                                            <li class="nav-item col-md-3 p-0">
                                                <a class="nav-item nav-link py-2" id="nav-bookcourses-tab" data-toggle="tab" href="#nav-bookcourses" role="tab" aria-controls="nav-bookcourses" aria-selected="false">{{{ bookcourses }}}</a>
                                            </li>
                                            {{/ hascourses }}
                                        </ul>
                    </div>
                    <div class="col-md-12" style="overflow:hidden;">
                    <div class="card-body cust-tabs-s">
                                      
                                        <div class="tab-content" id="mypublic-tab">
                                            {{# hascourses }}
                                                <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="courses-tab">
                                                    <h1 class="text-left m-0 mb-3 px-md-3">{{{ overview }}}</h1>
                                                    {{# courses }}
                                                        <div id="course-{{ id }}" class="card mt-1 course-m-box">
                                                            <div class="card-body row">
                                                                <div class="col-md-3 col-sm-6 courseimage">
                                                                    {{{ courseimage }}}
                                                                </div>

                                                                <div class="media-body col-md-9 col-sm-6 course_Text">
                                                                    <a href="{{ link }}"><h5 class="mt-0">{{{ fullname }}}</h5></a>
                                                                    {{# startdate }}<small>{{#str}}startedon, theme_moove{{/str}}: {{#userdate}} {{startdate}}, %A, %d %B %Y {{/userdate}}</small>{{/ startdate }}

                                                                    <div class="mt-1">
                                                                        {{{ summary }}}
                                                                    </div>
                                                                </div>
                                                                {{# enablecompletion }}
                                                                    <div class="col-md-3 d-none d-md-block d-lg-block d-xl-block text-right">
                                                                        <div class="progress-circle" data-progress="{{ progress }}"></div>
                                                                    </div>
                                                                {{/ enablecompletion }}
                                                            </div>
                                                        </div>
                                                    {{/ courses }}
                                                    
                                                    {{#hasregionmainsettingsmenu}}
                                                        <div class="region_main_settings_menu_proxy"></div>
                                                    {{/hasregionmainsettingsmenu}}
                                                {{{ output.course_content_header }}}
                                                {{{ output.main_content }}}
                                                {{{ output.course_content_footer }}}
                                                </div>
                                            {{/ hascourses }}
                                            <div class="tab-pane fade pt-1 {{^hascourses}}active show{{/hascourses}}" id="details" role="tabpanel" aria-labelledby="details-tab">
                                                {{#hasregionmainsettingsmenu}}
                                                    <div class="region_main_settings_menu_proxy"></div>
                                                {{/hasregionmainsettingsmenu}}
                                                {{{ output.course_content_header }}}
                                                {{{ output.main_content }}}
                                                {{{ output.course_content_footer }}}
                                            </div>
                                            
                                            {{# courses_examorganizer }}
                                            <div class="tab-pane fade" id="nav-examorganizer" role="tabpanel" aria-labelledby="nav-examorganizer-tab">
                                            <h1 class="text-left m-0 mb-3 px-md-3">{{{ examorganizer }}}</h1>

                                            {{# get_courses_examorganizer}}
                                            <div class="card" id="card1">
                                                <div class="content">
                                                <div class="col-md-3 col-sm-6 courseimage">
                                                    {{{ courseimage }}}
                                                 </div>
                                                  <h4 class="title">{{{ fullname }}}</h4>
                                                </div>
                                            </div>
                                             {{/ get_courses_examorganizer}}
                                            </div>
                                            {{/ courses_examorganizer}}
                                            {{!  ExamOrganizer Tab }}

                                            <div class="tab-pane fade" id="nav-bookcourses" role="tabpanel" aria-labelledby="nav-bookcourses-tab">
                                             <h1 class="text-left m-0 mb-3 px-md-3">{{{ bookcourses }}}</h1>
                                            </div>

                                        </div>
                                    </div>
                    </div>
                    </div>


                        
                    </div>
                </section>
            </div>
        </div>
    </div>

    {{>theme_moove/inc_end}}