{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/columns2

    Admin time setting template.

    Moove 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
    {{>theme_moove/inc_start}}

    <div id="page" class="container">

        {{#is_siteadmin}}
            {{>theme_moove/mydashboard_admin}}
        {{/is_siteadmin}}
        {{^is_siteadmin}}
            {{{ output.full_header }}}
        {{/is_siteadmin}}

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-xs-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="hidden-print">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" style="overflow-x: hidden;">
                    <div class="card mymaincontent">
                    <div class="row cust-box-tab">
                    <div class="col-lg-2 col-md-3 pl-lg-4 pl-md-3">
                          <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            {{# hascourses }}
                                                <li class="nav-item">
                                                    <a class="nav-link" id="courses-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="cursos" aria-selected="true">{{{ overview }}}</a>
                                                </li>
                                            {{/ hascourses }}

                                            <li class="nav-item">
                                                <a class="nav-link {{^hascourses}}active{{/hascourses}}" id="examorganizer-tab" data-toggle="tab" href="#examorganizer" role="tab" aria-controls="examorganizer" aria-selected="{{^hascourses}}true{{/hascourses}}{{#hascourses}}false{{/hascourses}}">{{{ examorganizer }}}</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link active" id="courses-tab" data-toggle="tab" href="#cursos" role="tab" aria-controls="cursos" aria-selected="true">{{{ bookcourses }}}</a>
                                            </li>
                                        </ul>
                    </div>
                    <div class="col-lg-10 col-md-9" style="overflow:hidden;">
                    <div class="card-body cust-tabs-s">
                                      
                                        <div class="tab-content" id="mypublic-tab">
                                             <div class="tab-pane fade show active" id="welcome" role="tabpanel" aria-labelledby="courses-tab">
                                             <h1 class="text-left">{{{ welcome }}}</h1>
                                             </div>
                                            {{# hascourses }}
                                                <div class="tab-pane fade" id="overview" role="tabpanel" aria-labelledby="courses-tab">
                                                    <h1 class="text-left m-0 mb-3">{{{ overview }}}</h1>
                                                    {{# courses }}
                                                        <div id="course-{{ id }}" class="card mt-1 course-m-box">
                                                            <div class="card-body row">
                                                                <div class="col-md-3 col-sm-6 courseimage">
                                                                    {{{ courseimage }}}
                                                                </div>

                                                                <div class="media-body col-md-9 col-sm-6 course_Text">
                                                                    <a href="{{ link }}"><h5 class="mt-0">{{{ fullname }}}</h5></a>
                                                                    {{# startdate }}<small>{{#str}}startedon, theme_moove{{/str}}: {{#userdate}} {{startdate}}, %A, %d %B %Y {{/userdate}}</small>{{/ startdate }}

                                                                    <div class="mt-1">
                                                                        {{{ summary }}}
                                                                    </div>
                                                                </div>
                                                                {{# enablecompletion }}
                                                                    <div class="col-md-3 d-none d-md-block d-lg-block d-xl-block text-right">
                                                                        <div class="progress-circle" data-progress="{{ progress }}"></div>
                                                                    </div>
                                                                {{/ enablecompletion }}
                                                            </div>
                                                        </div>
                                                    {{/ courses }}
                                                    
                                                    {{#hasregionmainsettingsmenu}}
                                                        <div class="region_main_settings_menu_proxy"></div>
                                                    {{/hasregionmainsettingsmenu}}
                                                {{{ output.course_content_header }}}
                                                {{{ output.main_content }}}
                                                {{{ output.course_content_footer }}}
                                                </div>
                                            {{/ hascourses }}
                                            <div class="tab-pane fade pt-1 {{^hascourses}}active show{{/hascourses}}" id="details" role="tabpanel" aria-labelledby="details-tab">
                                                {{#hasregionmainsettingsmenu}}
                                                    <div class="region_main_settings_menu_proxy"></div>
                                                {{/hasregionmainsettingsmenu}}
                                                {{{ output.course_content_header }}}
                                                {{{ output.main_content }}}
                                                {{{ output.course_content_footer }}}
                                            </div>
                                        </div>
                                    </div>
                    </div>
                    </div>


                        
                    </div>
                </section>
            </div>
        </div>
    </div>

    {{>theme_moove/inc_end}}